*{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}

#map { 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 27vh;
    z-index: 0;
}

#search-field{
    padding-top: 4vh;
    background: url('images/pattern-bg.png');
    background-repeat:repeat;
    background-size: auto;
    height: 27vh;
    justify-content: center;
}

h1{
    font-size: 28px;
    text-align: center;
    color: white;
    font-weight: 700;
}

#ip-search{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0;
    text-align: center;
    padding-left: 6vw;
    margin-top: 4vh;
}

#input{
    font-weight: 400;
    padding: 2vh 2vw 2vh 8vw;
    border-radius: 15px 0 0 15px;
    width: 67vw;
    border: none;
    outline: none;
}

#submit{
    background: black;
    padding: 2.6vh 5vw;
    border-radius: 0 15px 15px 0;
    outline: none;
}

#ip-info{
    display: none;
    position: relative;
    z-index: 1;
    background: white;
    text-align: center;
    width: 85vw;
    max-width: 412px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    padding: 2vh 0 ;
    box-shadow: 0px 0px 1px 0px black;
}

.ip-info-head{
    color: hsl(0, 0%, 59%);
    font-size: 12px;
    font-weight: 500;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.ip-info-p{
    color: hsl(0, 0%, 17%);
    font-weight: 700;
    margin-bottom: 2vh;
    font-size: 19px;
}

@media screen and (min-width: 1024px) {
    #ip-search{
        padding-left: 22vw;
        margin: 2vh 0 4vh;
    }

    #input{
        width: 39vw;
    }

    #submit{
        padding: 2.6vh 2vw;
        width: 1.3vw;
    }

    #ip-info{
        display: none;
        grid-template-columns: repeat(4, 1fr);
        width: 80vw;
        max-width: none;
        padding: 1vh 0;
        height: auto;
    }

    .ip-info-head{
        margin-top: 0;
        margin-bottom: 0.5vh;
    }

    .ip-section{
        text-align: left;
        justify-content:space-evenly;
        margin-left: 2vw;
        border-right:hsl(0, 0%, 59%) 1px solid;
        margin-right: 2vw;
        margin-top: 0.5vh;
        height: auto;
    }

    .ip-section:nth-child(4) {
        border-right: none;
    }
}

@media  screen and (min-width: 1300px) {

    
}

